* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0A0F1F;
}

.logo {
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    z-index: 200;
    color: white;
    user-select: none;
}

.logo a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    gap: 14px;
        align-items: center;
}

.logo img {
    width: 60px;
    filter: drop-shadow(0 0 6px #3bb7e5);
}

.logo h1 {
    font-size: 22px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(59,183,229,0.6);
}

.auth-form {
    margin-top: 20px;
}

.content h1 {
    color: white;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 12px;
}

.content .subtitle {
    color: white;
    font-size: 18px;
    opacity: .75;
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    padding: 15px 12px;
    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 14px;
    margin-bottom: 15px;
    font-size: 18px;
    transition: 0.25s;
}

.input-group:hover {
    border-color: #3BB7E5;
    box-shadow: 0 0 10px rgba(59,183,229,0.4);
}

.input-group input {
    margin-left: 12px;
    background: transparent;
    border: none;
    color: white;
    width: 100%;
    outline: none;
}

.input-group span {
    color: #3BB7E5;
}

.primary-btn {
    width: 100%;
    padding: 10px;
    background: #3BB7E5;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    transition: .3s;
}

.primary-btn:hover {
    background: #0F4C61;
    color: white;
}

.toggle-text {
    color: #3BB7E5;
    margin-top: 20px;
    font-weight: bold;
    opacity: .8;
    font-size: 15px;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
}

.form-bottom a {
    text-decoration: none;
}

.field-validation-error {
    color: red;
    position: relative;
    font-weight: bold;
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.phone-row {
    display: flex;
    gap: 12px;
}

.prefix-text {
    font-weight: 600;
    font-size: 15px;
    margin-right: 0;
}

.phone-prefix-group {
    width: 120px;
    justify-content: center;
    padding: 18px 15px;
}

.prefix-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.flag-icon {
    width: 24px;
    height: 14px;
    border-radius: 2px;
}

.phone-number-group {
    flex: 1;
}

.phone-icon {
    color: #3BB7E5;
}

.phone-input {
    flex: 1;
}

.validation-summary-errors {
    color: red;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: -15px;
}

.validation-summary-errors ul {
    list-style-type: none;
}

.password-rules {
    display: block;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.3;
}

.password-rules .rule {
    color: #888;
    transition: color 0.25s ease;
}

.password-rules .rule.valid {
    color: #22c55e;
}

.password-rules .rule.invalid {
    color: #ef4444;
}