@model ForgotPasswordVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title id="pageTitle">Forgot Password | Diamond Screen Cinema</title>
    <link rel="icon" href="~/images/Slogan.png" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Customer View/Account/ForgotPassword.css" asp-append-version="true" />
</head>

<body>
    <div class="logo">
        <a asp-action="Index" asp-controller="Home">
            <img src="~/images/Icon.png">
            <h1>Diamond Screen Cinema</h1>
        </a>
    </div>

    <div class="content">
        <h1>Reset Password</h1>
        <p class="subtitle">Reset your password</p>

        <form class="auth-form" asp-action="ResetPassword" method="post">
            <input asp-for="Email" type="hidden" value="@Model.Email" />
            <input asp-for="PhonePrefix" type="hidden" value="@Model.PhonePrefix" />
            <input asp-for="Phone" type="hidden" value="@Model.Phone" />

            <span asp-validation-for="Password"></span>
            <div class="input-group">
                <span class="material-symbols-outlined">lock</span>
                <input asp-for="Password" id="Password" type="password" placeholder="Password" autocomplete="off">
            </div>

            <div class="password-rules">
                <p class="rule" id="rule-length">• At least 8 characters</p>
                <p class="rule" id="rule-uppercase">• At least 1 uppercase letter (A-Z)</p>
                <p class="rule" id="rule-lowercase">• At least 1 lowercase letter (a-z)</p>
                <p class="rule" id="rule-number">• At least 1 number (0-9)</p>
                <p class="rule" id="rule-special">• At least 1 special character (!&#64;#$%^&*)</p>
            </div>

            <span asp-validation-for="ConfirmPassword"></span>
            <div class="input-group">
                <span class="material-symbols-outlined">lock</span>
                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" autocomplete="off">
            </div>

            <button class="primary-btn">Reset Password</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/Customer View/Account/ResetPassword.js" asp-append-version="true"></script>
</body>
</html>