@using Microsoft.AspNetCore.Mvc.Rendering

<div class="menu-icon">
    <a asp-controller="Admin" asp-action="Users" asp-route-Page="AdminManagement" class="menu-item">
        <span class="material-symbols-outlined" title="View All Admin">contacts</span>
    </a>
    <a asp-controller="Admin" asp-action="Users" asp-route-Page="CreateAdmin" class="menu-item">
        <span class="material-symbols-outlined" title="Add New Admin">add_2</span>
    </a>
</div>