@using Microsoft.AspNetCore.Mvc.Rendering

<div class="menu-icon">
    <a asp-controller="Admin" asp-action="Users" asp-route-Page="CustomerManagement" class="menu-item">
        <span class="material-symbols-outlined" title="View All Customer">contacts</span>
    </a>
    <a asp-controller="Admin" asp-action="Users" asp-route-Page="CreateCustomer" class="menu-item">
        <span class="material-symbols-outlined" title="Add New Customer">add_2</span>
    </a>
</div>