@using Microsoft.AspNetCore.Mvc.Rendering

<div class="menu-icon">
    <a asp-controller="Admin" asp-action="Users" asp-route-Page="StaffManagement" class="menu-item">
        <span class="material-symbols-outlined" title="View All Staff">contacts</span>
    </a>
    <a asp-controller="Admin" asp-action="CreateStaff" class="menu-item">
        <span class="material-symbols-outlined" title="Add New Staff">add_2</span>
    </a>
</div>